@font-face {
    font-family: 'Gothic';
    src: url('../assets/font/Gotham\ Medium\ Regular.ttf');
}

#pageContainer {
    width: calc(100% - 15rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    background-color: #1D1D1D;
}

#homePageContainer {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
    width: 100%;
    height: auto;
    background-color: #1D1D1D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    font-family: 'Gothic', sans-serif;
    padding: 1rem;
}

#welcomeMessage {
    color: white;
    width: 100%;
    font-size: 1.25rem;
}
