@font-face {
    font-family: 'Gothic';
    src: url('../assets/font/Gotham\ Medium\ Regular.ttf');
}

#homePageContainer {
    width: calc(100% - 15rem);
    height: 100%;
    background-color: #1D1D1D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    overflow-y: auto;
}

#mainContentWrapper {
    max-width: 95%;
    height: auto;
    font-family: 'Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}